* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

.center {
  padding: 0 calc(50% - 570px);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #ffffff;
  border: 1px solid #ececec;
  box-shadow: 0 0 10px 0 #ececec;
}
.logo {
  display: flex;
  align-items: center;
  font-size: 27px;
  font-weight: 300;
  color: #222222;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 32px;
  text-transform: uppercase;
  text-decoration: none;
}

.letter {
  display: flex;
  align-items: center;
  font-size: 40px;
  font-weight: 900;
  color: #f16d7f;
  text-align: right;
  letter-spacing: 0.03em;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.sec_letter {
  font-size: 30px;
  font-weight: 900;
  color: #f16d7f;
  text-align: left;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo__img {
  margin-right: 13px;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__browse {
  padding: 0 10px;
  background-color: #fafafa;
  height: 38px;
  width: 86px;
  user-select: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #e6e6e6;
  border-radius: 3px 0 0 3px;
  font-size: 14px;
  font-weight: 300;
  color: #222222;
  text-align: right;
  letter-spacing: 0.03em;
  line-height: 32px;
}

.arrow-1 {
  margin: 13px 0 0;
  display: flex;
  align-self: flex-start;
  height: 0;
  width: 0;
  border: 3px solid;
  border-color: #222222 #222222 transparent transparent;
  transform: rotate(135deg);
}

.header__search {
  height: 38px;
  width: 316px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e6e6e6;
}

.search__button {
  height: 38px;
  width: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e6e6e6;
  border-radius: 0 3px 3px 0;
}

.header__form {
  display: flex;
  align-items: center;
}

.header__right {
  display: flex;
  align-items: center;
}

.button {
  padding: 0 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 38px;
  width: 130px;
  background-color: #f16d7f;
  font-size: 15px;
  color: #ffffff;
  text-align: right;
  letter-spacing: 0.03em;
  line-height: 32px;
  text-decoration: none;
}

.arrow-2 {
  margin: 13px 0 0;
  display: flex;
  align-self: flex-start;
  height: 0;
  width: 0;
  border: 3px solid;
  border-color: #fff #fff transparent transparent;
  transform: rotate(135deg);
}

.header__cart {
  margin-right: 26px;
}

.menu {
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 14px;
  font-weight: bold;
  color: #222222;
  text-align: left;
  line-height: 26px;
  text-transform: uppercase;
}

.menu__link {
  font-size: 14px;
  font-weight: bold;
  color: #222222;
  text-align: left;
  line-height: 26px;
  text-transform: uppercase;
  padding: 20px;
  display: block;
}

.menu__link:hover {
  border-bottom: 3px solid #f16d7f;
}

.promo {
  background-color: #e8e8e8;
}

.promo__content {
  display: flex;
  align-items: center;
  height: 614px;
  background-image: url(img/promo_back.png);
  background-repeat: no-repeat;
  background-position: center -51px;
}

.promo__text {
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
  height: 92px;
  width: 509px;
  border-left: 12px solid #f16d7f;
  line-height: 35px;
}

.promo__h1 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 60px;
  font-weight: 900;
  color: #222222;
  text-align: right;
  line-height: 50px;
  padding-left: 12px;
}

.promo__h3 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 40px;
  font-weight: 900;
  color: #222222;
  text-align: right;
  line-height: 50px;
  padding-left: 12px;
}

.aciya {
  display: flex;
}

.flex_center {
  display: flex;
  justify-content: space-around;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.aciya__left {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.boks_max {
  display: flex;
  width: 560px;
  height: 542px;
  margin-top: 98px;
  background-image: url(img/sec_men.jpg);
  background-color: grey;
}

.boks_min {
  display: flex;
  margin-top: 20px;
  background-color: #dadad2;
  height: 261px;
  width: 560px;
  background-image: url(img/sec_acces.jpg);
}

.whiteH {
  background-color: #ffffff;
  height: 82px;
  margin-top: 26px;
  margin-left: 1px;
}

.aciya__right {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.boks_min_right {
  display: flex;
  margin-top: 98px;
  background-image: url(img/sec_women.jpg);
  height: 261px;
  width: 560px;
}

.boks_max_right {
  display: flex;
  width: 560px;
  height: 542px;
  margin-top: 20px;
  background-image: url(img/sec_kids.jpg);
}

.whiteH {
  background-color: #ffffff;
  height: 82px;
  margin-top: 26px;
  margin-left: 1px;
}

.textwhite_p {
  color: #222222;
  /* letter-spacing: 0.75px; */
  /* display: block; */
  margin-left: 19px;
  padding-top: 16px;
  /* padding: 0px 20px; */
  font-size: 18px;
  font-weight: 900;
  text-align: left;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.textwhite_h {
  /* letter-spacing: 0.75px; */
  margin-left: 19px;
  padding-right: 19px;
  font-size: 30px;
  font-weight: 900;
  color: #f16d7f;
  text-align: left;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.title {
  text-align: center;
}

.product-box_title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.product-box_h1 {
  font-size: 30px;
  font-weight: bold;
  color: #222222;
  text-align: center;
  line-height: 54px;
}

.product-box_h3 {
  font-size: 14px;
  color: #9f9f9f;
  text-align: center;
  line-height: 54px;
}

.product {
  width: 263px;
  margin-bottom: 39px;
  position: relative;
}

.product:hover {
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16);
}

.product:hover .product__add {
  display: flex;
}

.product:hover .product__img {
  filter: brightness(50%);
}

.product-box {
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product__img {
  width: 100%;
}

.product__name {
  font-size: 13px;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 17px;
  display: block;
}

.product__price {
  font-size: 16px;
  font-weight: bold;
  color: #f16d7f;
  text-transform: uppercase;
}

.product__content {
  padding: 19px 14px;
}

.product__add {
  height: 39px;
  width: 123px;
  border: 1px solid #ffffff;
  font-size: 13px;
  font-weight: bold;
  color: #ffffff;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 97px;
  left: 70px;
}

.product__add:hover {
  box-shadow: 0 0 8px #fff;
}

.product-down {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product-down.center {
  border-bottom: 113px;
}

.button_2 {
  padding: 0 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 48px;
  width: 212px;
  background-color: #f16d7f;
  font-size: 15px;
  color: #ffffff;
  text-align: right;
  line-height: 32px;
}

.product-down_img {
  display: flex;
  background-color: #222224;
  height: 529px;
  width: 1140px;
  margin-top: 113px;
}

.img_dwn_img_left {
  position: relative;
}

.img_down_img_png {
  filter: brightness(50%);
}

.img_dwn_text_left_box {
  position: absolute;
  top: 146px;
  left: 39px;
}

.img_dwn_text_left_1 {
  font-size: 54px;
  font-weight: bold;
  color: #ffffff;
}

.img_dwn_text_left_2 {
  font-size: 54px;
  font-weight: bold;
  color: #f16d7f;
}

.img_dwn_text_left_3 {
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 0.03em;
}

.articles-down {
  display: flex;
  flex-direction: column;
  width: 373px;
  height: 529px;
  color: #fbfbfb;
  padding-left: 36px;
  margin-top: 48px;
  margin-right: 25px;
}

.art_dwn_img {
  margin-top: 10px;
  margin-right: 30px;
}

.art_img_h3_box {
  display: flex;
  align-items: center;
}

.art-txt_h3 {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: #fbfbfb;
}

.art-txt {
  font-size: 14px;
  font-weight: 300;
  color: #fbfbfb;
  line-height: 24px;
  margin: 21px 0 10px 74px;
}

.subscribe {
  position: relative;
  z-index: 2;
}

/* .subscribe_box {
    display: flex;
    width: 1600px;
    height: 438px;
    margin-top: 97px;
} */
.subscribe_box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 97px;
}

.subscribe_img {
  position: absolute;
  background-image: url(img/scb.png);
  filter: opacity(50%);
  width: 1600px;
  height: 438px;
  z-index: 1;
}

.subscribe_left_box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  height: 438px;
  width: 800px;
  z-index: 2;
  margin-left: 228px;
}

.art_box_dwn {
  display: flex;
  padding-top: 111px;
}

.art_men_dwn_img {
  width: 83px;
  height: 83px;
  align-self: center;
}

.art_men_dwn {
  display: flex;
  flex-direction: column;
}

.art_men_t1 {
  font-size: 16px;
  font-style: italic;
  color: #222224;
  letter-spacing: 0.03em;
  line-height: 26px;
  width: 425px;
}

.art_men_t2 {
  font-size: 16px;
  font-weight: bold;
  color: #f16d7f;
  letter-spacing: 0.03em;
  line-height: 26px;
}

.art_men_t3 {
  font-size: 12px;
  font-weight: 300;
  color: #222224;
  letter-spacing: 0.03em;
  line-height: 14px;
}

.subscribe_right_box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 438px;
  width: 800px;
  z-index: 2;
}

.subscribe_right_in_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 438px;
  width: 500px;
  z-index: 2;
}

.sub_h1 {
  font-size: 24px;
  color: #222224;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 54px;
  text-transform: uppercase;
}

.sub_h3 {
  font-size: 14px;
  color: #222224;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 24px;
}

.inpt_mail {
  display: flex;
  margin-top: 35px;
}

.inpt_mail_field {
  width: 282px;
  height: 46px;
  padding: 0 2px 0 28px;
  border: 1px solid #cecece;
  border-left: none;
  background: #e1e1e1;
  border-radius: 30px 0 0 30px;
  font-size: 14px;
  color: #222224;
  text-align: left;
}

.inpt_mail_btn {
  padding: 0 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 46px;
  width: 104px;
  border: 1px solid #d66170;
  border-left: none;
  border-radius: 0 23px 23px 0;
  background-color: #f16d7f;
  font-size: 15px;
  color: #ffffff;
  text-align: right;
  letter-spacing: 0.03em;
  line-height: 32px;
}

.footer-2 {
  padding-left: 228px;
  margin-top: 109px;
}

.footer-text-box {
  display: block;
  width: 430px;
  height: 204px;
}

.menu__F {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 50px;
}
.menu__F__listF {
  font-size: 16px;
  color: #898989;
  text-align: left;
  letter-spacing: 0.03em;
  line-height: 42px;
}
.menu__F__listF__linkF {
  text-decoration: none;
  padding: 8px 16px;
}
.menu__F__listF__colorF {
  text-decoration-color: #f16d7f;
}

.text-gray {
  color: #9f9f9f;
}

.footer__logo {
  margin-bottom: 29px;
}

.footer-3 {
  display: flex;
  justify-content: center;
  height: 79px;
  background-color: #e6e6e6;
}

.footer-3_left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
}

.footer-3_right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}

.icon-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  background-color: #ffffff;
  color: #b2b2b2;
  margin: 4px;
}

.icon-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  background-color: #f16d7f;
  color: #ffffff;
  margin: 4px;
}

/*# sourceMappingURL=style.css.map */
